body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.red-color{
    color: red;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
width: 80%;
}
.text-align{
    text-align: justify;
}
#bg-image{
    background-image: url(images/bg-imsge.jpg);
    margin-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.half-size{
    text-align: justify;
    width: 30%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 3%;
    margin-right: 3%;
    padding: 1%;
    border-radius: 5%;
}
.sojib-ahmed{
    display: flex;
}
#para-graph{
    text-align: center;
}

.food-color{
    color: orange;
}
.text-item{
    text-align: center;
    background-color: teal;
}
footer p{
    color: white;
}