body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.red-color{
    color: red;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
width: 80%;
}
.text-align{
    text-align: justify;
}
#bg-image{
    background-image: url(images/bg-imsge.jpg);
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
